<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ARS_BTC" value="0,001"/>
		<add key="BTC_ARS" value="1000" />
	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=DESKTOP-Q2A5TSM;Initial Catalog=ExchangeDB;User ID=sa;password=."  />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>